<div class="card my-4 p-2">
    <div class="add-info">
        <div class="row justify-content-around">
            <div class="col-4">
                <img src={{Poster}} alt="{{Title}} poster">
                <p id="movie-id">{{id}}</p>
            </div>
            <div class="movie-blurb col-8">
                <p>{{Rated}}</p>
                <p>{{Genre}}</p>
                <p><strong>Director:</strong> {{Director}}</p>
                <p><strong>Actors:</strong> {{Actors}}</p>
                <p><strong>Synopsis:</strong> {{Plot}}</p>
                <p><strong>Released:</strong> {{Released}} | <strong>Runtime:</strong> {{Runtime}}</p>
                <p><strong>Ratings:</strong></p>
                <p><strong>IMBD:</strong> {{imdbRating}} | <strong>Metacritic:</strong>
                    {{MetacriticRating}} | <strong>Rotten Tomatoes:</strong>
                    {{RottenTomRating}}</p>
            </div>
        </div>
        <div>
            <form class="py-2">
                <label for="DataList" class="form-label">Add to List:</label>
                <input class="form-control" list="datalistOptions" id="DataList" placeholder="Enter list name">
                <datalist id="datalistOptions">
                    {{#each list}}<option value="{{list_name}}">{{/each}}
                </datalist>
                <div class="modal-center">
                    <button type="submit" class="btn btn-outline-dark m-3">Save</button>
                </div>
            </form>
        </div>
    </div>

</div>